footer {visibility: hidden;}

footer:hover,  footer:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
    transition: 400ms ease 0s;
}

footer:after {
    content:'SoCity'; 
    visibility: visible;
    display: block;
    position: relative;
    padding: 5px;
    top: 2px;
}

/* body {
  background-color: lightgoldenrodyellow;
} */

div[data-testid="stHorizontalBlock"] {
/*   background-color: #FFFFFF; */
    background-color: rgba(255,255,255,0.6)
}

/* div[class="css-19s0g4l e1tzin5v0"] > div[class="css-ocqkz7 e1tzin5v4"] {
    background-color: #EEEEEE;
    border: 1px solid #DCDCDC;
    padding: 30px 30px 30px 30px;
    padding: 5% 5% 5% 5%;
    border-radius: 20px;
} */

/* div.stSlider > div {
    flex-direction: row;
    align-items: stretch;
} */
/* div[class="css-19s0g4l e1tzin5v0"] > div[class="css-19s0g4l e1tzin5v0"] > div[data-baseweb="slider"] > div[class="slider"] {
    background-color: #02ab21;
    color: #02ab21;
} */
/* div.stSlider > label[data-baseweb="slider"] > div:first-child {
    background-color: #02ab21;
} */

/* div.element-container css-lhdboo e1tzin5v3 > div {
    background-color: #02ab21;
} */


/* div.row-widget.stRadio > div {
    flex-direction: row;
    align-items: stretch;
}

div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"] > div:first-child {
    background-color: #02ab21;
} */
