/* body {
    color: #fff;
} */

div.css-1ht1j8u e16fv1kl3 > div {
    background-color: #EEEEEE;
    border: 1px solid #DCDCDC;
    padding: 20px 20px 20px 70px;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}

div.stSlider > div {
    flex-direction: row;
    align-items: stretch;
}

div.stSlider > label[data-baseweb="slider"] > div[class="st-cp st-cg st-cf st-bp st-b4 st-bl"] > div[class="st-av st-aw st-ax st-ay st-cq st-cr st-b7 st-cs st-ct"] > div:first-child {
    background-color: #02ab21;
}

/* div.element-container css-lhdboo e1tzin5v3 > div {
    background-color: #02ab21;
} */


div.row-widget.stRadio > div {
    flex-direction: row;
    align-items: stretch;
}

div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"] > div:first-child {
    background-color: #02ab21;
}
